// Colors

$off-black:  #20222b;
$off-white: #a5afd7;
$white: #FFFFFF;
$dark-blue: #333745;
$purple: #8357c5;

// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: $m-size * 2;
$xl-size: $m-size * 3;
